.box {
  background-color: #ffffff;
  box-shadow: 12px 12px 12px rgba(0,0,0,0.4);
  border-radius: 8px;
  overflow: hidden;

  &__title {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #19bdb9;
    padding: 10px 20px;
  }

  &__content {
    padding: 25px 20px;
    padding-bottom: 15px;

    &.no-padding {
      padding: 0;
    }

    &--region {
      padding: 25px 20px;
      padding-bottom: 10px;
      background-color: #eaeaea;
      border-bottom: 1px solid #cacaca;
    }

    &--row {
      display: flex;
      align-items: stretch;
      flex-wrap: nowrap;
    }

    &--col {
      width: 100%;
      padding: 25px 20px;
      padding-bottom: 15px;
      border-right: 1px solid #cacaca;

      &:last-child {
        border-right: none;
      }
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-top: solid 1px #cacaca;

    &.in-right {
      justify-content: flex-end;
    }
  }
}