.btn {
  display: inline-block;
  background-color: #ffffff;
  border: solid 1px #cacaca;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 3px 3px 4px rgba(0,0,0,.25);

  &:hover {
    background-color: #eaeaea;
  }

  &-solid {
    color: #ffffff;
    background-color: #19bdb9;
    border-color: #139997;

    &:hover {
      background-color: #139997;
    }
  }

  &-transparent {
    background-color: transparent;
    border: solid 1px rgba(255,255,255,0.2);
    border-right: none;
    border-bottom: none;
    border-radius: 0;
    color: rgba(255,255,255,0.2);

    &:hover {
      background-color: rgba(255,255,255,0.3);
    }
  }

  &-sm {
    font-size: 16px;
    padding: 10px 20px;
  }

  &-md {
    font-size: 20px;
    padding: 15px 35px;
  }
}