.form {
  $element: &;

  &__row {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    .horizontal & {
      display: flex;
      align-items: flex-start;
      flex-wrap: none;
    }
  }

  &__label {
    .horizontal & {
      width: 120px;
      padding-top: 10px;
      padding-right: 20px;
    }
  }

  &__colRight {
    .horizontal & {
      width: calc(100% - 80px);
    }
  }

  &__control {
    padding: 0 10px;
    width: 100%;
    height: 40px;
    font-size: 14px;
    border: solid 1px #cacaca;
    outline: none;
    box-shadow: 3px 3px 4px rgba(0,0,0,.05);

    &--number {
      width: 60px;
      padding: 5px;
      text-align: center;
      flex-shrink: 0;
    }

    &--color {
      width: 45px;
      height: 45px;
      padding: 0;
      border: none;
      background: none;
      box-shadow: none;
      flex-shrink: 0;
    }
  }

  &__group {
    display: flex;
    align-items: center;
    margin: 0 -5px;
    margin-bottom: 10px;

    #{$element}__control {
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  &__textTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__validate {
    font-size: 12px;
    color: #f44336;
  }
}